<header>
    <%= render 'partials/layouts/main/contacts' %>
    <div class="logo">
        <%= svg :logo_background %>
        <%= svg :logo_towers %>
        <%= svg :logo_text %>
    </div>
</header>
